@font-face {
  font-family: "CascadiaCode";
  font-weight: normal;
  font-style: normal;
  src: local(""), url("/fonts/CascadiaCode.woff2") format("woff2"),
    url("/fonts/CascadiaCode.ttf") format("truetype");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: normal;
  src: local(""), url("/fonts/OpenSans.woff2") format("woff2"),
    url("/fonts/OpenSans.ttf") format("truetype");
  font-display: swap;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  /* Colors */
  --color-background: #080a0b;
  --color-text: #fff;
  --color-border: #414141;
  --color-inverted: #000604;
  --color-primary: #0dda95;
  --color-secondary: #337275;

  /* Fonts */
  --font-text: "Open Sans", sans-serif;
  --font-headline: "CascadiaCode", Sans-Serif;

  /* Misc */
  --border-radius: 0.2rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-text);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-background);
  color: var(--color-text);
}

button,
.button,
input[type="submit"] {
  background: var(--color-primary);
  color: var(--color-inverted);
  border-radius: var(--border-radius);
  border: none;
  padding: 1em 2em;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}

a {
  color: var(--color-primary);
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: var(--font-headline);
}
