.container {
  min-height: 100vh;
}

.main {
  margin: 1rem auto;
  max-width: 1200px;
  padding: 0 1rem;
  text-align: center;
}

.hero {
  display: grid;
}

.hero__info {
  padding: 1rem 0;
  display: grid;
  place-items: center;
}

.hero__image {
  position: relative;
  display: grid;
}

.hero__start {
  width: 100%;
}

.info {
  padding: 2rem 0;
  margin: 0 auto;
}

.subtitle {
  font-size: 2.5rem;
}

.phase {
  display: grid;
  row-gap: 2rem;
  padding: 2rem 0;
}

.phase__image {
  display: grid;
  padding: 1em;
}
.phase__info {
  display: grid;
  align-content: center;
}

.stack {
  display: flex;
  flex-wrap: wrap;
  gap: 0.7rem;
  justify-content: center;
}

.start {
  display: grid;
  place-items: center;
  padding: 2rem 0;
  row-gap: 1rem;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.coach {
  display: grid;
  place-items: center;
  row-gap: 1rem;
}

.coach__catch {
  font-size: 1.3rem;
}

.avatar {
  border-radius: 50%;
  overflow: hidden;
  width: 16rem;
  height: 16rem;
}

.highlight {
  color: var(--color-primary);
}

.footer {
  text-align: center;
  margin: 3rem auto;
  width: 80%;
  max-width: 1200px;
  border-top: 1px solid var(--color-border);
  padding: 4rem 2rem;
  display: grid;
}

@media screen and (min-width: 762px) {
  .main {
    padding: 0 2rem;
    margin: 3rem auto;
  }
  .hero {
    text-align: left;
    grid-template-columns: 50% 50%;
  }

  .title {
    font-size: 4rem;
  }

  .info {
    width: 75%;
  }

  .phase {
    grid-template-columns: 50% 50%;
    text-align: left;
  }

  .phase:nth-of-type(even) > :first-child {
    order: 1;
  }

  .coach {
    grid-template-columns: 50% 50%;
    text-align: left;
  }
}
