.container {
  min-height: 100vh;
}

.main {
  margin: 3rem auto;
  width: 80%;
  max-width: 1200px;
}

.hero {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0 2rem;
}

.hero__info {
  padding: 1rem 0;
  display: grid;
  place-items: center;
}
.hero__image {
  grid-column: 2 / 3;
  position: relative;
  display: grid;
  align-items: end;
}

.hero__start {
  width: 100%;
}

.info {
  padding: 4rem 2rem;
  text-align: center;
  width: 75%;
  margin: 0 auto;
}

.subtitle {
  font-size: 2.5rem;
}
.phase {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 2rem;
}

.phase__info {
  display: grid;
  align-content: center;
}

.stack {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.start {
  display: grid;
  place-items: center;
  padding: 2rem;
  gap: 1rem;
}

.form {
  display: grid;
  gap: 0.5rem;
  width: 60%;
  margin: 0 auto;
}

.form__label {
  display: grid;
  gap: 0.2rem;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.team {
  padding: 0 2rem;
  text-align: center;
}

.coach {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0 2rem;
  text-align: left;
  place-items: center;
  gap: 1rem;
}

.coach__catch {
  font-size: 1.3rem;
}

.avatar {
  border-radius: 50%;
  overflow: hidden;
  width: 16rem;
  height: 16rem;
}

.highlight {
  color: var(--color-primary);
}
