.review {
  color: var(--color-text);
}

.blockquote {
  margin: 0 auto;
  quotes: "\201C""\201D""\2018""\2019";
}
.blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
.blockquote:after {
  color: #ccc;
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-left: 0.25em;
  vertical-align: -0.5em;
}
.blockquote p {
  display: inline;
}

.figcaption {
  color: var(--color-primary);
  font-size: 0.8em;
}

@media screen and (min-width: 762px) {
  .blockquote {
    width: 80%;
  }
}
